<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SyncService.HelloService">
                <endpoint address="" binding="basicHttpBinding" contract="SyncService.IHelloService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyncService/HelloService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SyncService.Contrat.ntrat.EventService">
                <endpoint address="" binding="basicHttpBinding" contract="SyncService.Contrat.ntrat.IEventService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyncService.Service/EventService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SyncService.Contrat.ContributionService">
                <endpoint address="" binding="basicHttpBinding" contract="SyncService.Contrat.IContributionService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyncService.Service/ContributionService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SyncService.Service.PersonService">
                <endpoint address="" binding="basicHttpBinding" contract="SyncService.Service.IPersonService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyncService.Service/PersonService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
